<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!-- Use the variables below to specify the location of the log files -->
  <variable name="ApplicationName" value="QuantConnect"/>
  <variable name="LogDirectory" value="C:\Logs\${ApplicationName}"/>
  <variable name="ArchiveDirectory" value="${LogDirectory}\archive"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <default-target-parameters xsi:type="File"
                               archiveEvery="Day"
                               archiveAboveSize="10000000"
                               maxArchiveFiles="99"
                               archiveNumbering="DateAndSequence"
                               concurrentWrites="true"
                               keepFileOpen="false"/>
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper"/>
    </default-wrapper>

    <!-- Main log -->
    <target xsi:type="File" name="mainLogFile"
            archiveFileName="${ArchiveDirectory}\${ApplicationName}.{##}.log"
            fileName="${LogDirectory}\${ApplicationName}_${shortdate}.log">
      <layout xsi:type="JsonLayout">
        <attribute name="dateTime" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <!-- Application specific mapped data contexts -->
        <attribute name="mainSettings" layout="${mdc:item=mainSettings}" encode="false" />
        <!-- Thread, Process and Machine Info -->
        <attribute name="thread" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="id" layout="${threadid}" />
            <attribute name="name" layout="${threadname}" />
          </layout>
        </attribute>
        <attribute name="process" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="id" layout="${processinfo:Id}" />
            <attribute name="name" layout="${processinfo:ProcessName}" />
          </layout>
        </attribute>
        <attribute name="correlationID" layout="${mdc:item=correlationID}" encode="false" />
        <attribute name="merchantAccount" layout="${mdc:item=merchantAccount}" encode="false" />
        <attribute name="apiVersion" layout="${mdc:item=apiVersion}" encode="false" />
        <attribute name="utcDateTime" layout="${longdate:universalTime=true}" />
      </layout>
    </target>

    <!-- Error log -->
    <target xsi:type="File" name="errorLogFile"
            archiveFileName="${ArchiveDirectory}\${ApplicationName}_error.{##}.log"
            fileName="${LogDirectory}\${ApplicationName}_${shortdate}_error.log">
      <layout xsi:type="JsonLayout">
        <attribute name="dateTime" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <!-- Application specific mapped data contexts -->
        <attribute name="assemblyInfo" layout="${mdc:item=assemblyInfo}" encode="false" />
        <!-- Thread, Process and Machine Info -->
        <attribute name="thread" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="id" layout="${threadid}" />
            <attribute name="name" layout="${threadname}" />
          </layout>
        </attribute>
        <attribute name="process" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="id" layout="${processinfo:Id}" />
            <attribute name="name" layout="${processinfo:ProcessName}" />
          </layout>
        </attribute>
        <attribute name="utcDateTime" layout="${longdate:universalTime=true}" />
      </layout>
    </target>

  </targets>

  <rules>
    <!-- LogLevels (Lowest Severity) Trace, Debug, Info, Warn, Error, Fatal (Highest Severity) -->
    <logger name="*" minlevel="Trace" writeTo="mainLogFile" />
    <logger name="*" minlevel="Error" writeTo="errorLogFile" />
  </rules>
</nlog>
